version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data:


# version: '3.8'
# services:
#   redis:
#     image: redis:7-alpine
#     ports: ['6379:6379']
#   minio:
#     image: minio/minio:RELEASE.2024-10-10T00-00-05Z
#     environment:
#       MINIO_ROOT_USER: minioadmin
#       MINIO_ROOT_PASSWORD: minioadmin
#     command: server /data
#     ports: ['9000:9000']
